*.l[ao]
*.o
*~
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
__pycache__/
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
py-compile
stamp-h?

src/meta.py
